<div class="container">
    <div class="text-center">
        <img src="/assets/multichoice.png" id="multichoiceLogo" />
        <h4>Synapse Bulk Index UI</h4>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h4>Inputs</h4>
        </div>
        <div class="card-block">
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    Country:
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="data.selectedCountry">
                            <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    Environment:
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="data.selectedEnviornment">
                            <option *ngFor="let environment of environments" [ngValue]="environment">{{environment}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-4 text-left">
                    <button (click)="initiateBulkIndexing(data.selectedCountry, data.selectedEnviornment)" [disabled]="!data.selectedEnviornment || !data.selectedCountry" class="btn btn-success left-10"
                        style="min-width:150pt">Run</button>
                </div>
                <div class="col-3"></div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h4>Logs</h4>
        </div>
        <div class="card-block col-centered p-3 w-100">
            <textarea class="ta w-100 rounded p-1" rows="5">{{ data.logs }}</textarea>
        </div>
    </div>
</div>